<section class="curiosities">
  <h2 class="subtitle"> Curiosidades</h2>
  <i class="bi bi-lightbulb"></i>

  <div class="container-curiosities">

    <p>¿Sabías que el páramo de Ocetá Ubicado en Mongui - Boyacá es considerado el páramo más hermoso del mundo ?</p>
    <p>¿Sabías que el páramo del Sumapaz Ubicado en  Bogotá - Cundinamarca es el más grande del mundo ?</p>
    <p>¿Sabías que la laguna de Tota Ubicada en  el Departamento de Boyacá  es  la más grande de Colombia?</p>

  </div>
</section>