<footer>
  <div class="content-footer">
    <ul class="menu-footer">
      <li>Regiones</li>
      <li>Especies</li>
      <li>Paisajes</li>
      <li>Datos Curiosos</li>
    </ul>

      <ul>
        <li>Contribuir</li>
        <li>Reportar problema</li>
        <li>Contactar desarrollador</li>
        </ul>

      <ul>
        <li>Fuentes importantes de <br> información</li>
        <li>SIB Colombia <br> (2022 Agosto 23)</li>
      </ul>
  </div>
  <hr>

  <p>Diseñado y desarrollado por Eduard Villamil.</p>
  <p>Ultima actualización 2024</p>
</footer>