<section class="explore-groups ">
  <h2 class="subtitle">Explora por grupos</h2>
  <i class="bi bi-diagram-3-fill i-group"></i>

  <div class="container-groups">
    <div class="group animales">
      <h3>Animales</h3>
      <div class="btn-see-more">
        <span class="animales">Ver mas</span>
        <i class="bi bi-arrow-right animales"></i>
      </div>
    </div>

    <div class="group platas">
      <h3>Plantas</h3>
      <div class="btn-see-more">
        <span class="plantas">Ver mas</span>
        <i class="bi bi-arrow-right plantas"></i>
    </div>
    </div>

    <div class="group paisajes">
      <h3>Paisajes</h3>
      <div class="btn-see-more">
        <span class="paisajes">Ver mas</span>
        <i class="bi bi-arrow-right paisajes"></i>
    </div>
    </div>
  </div>
</section>